
.video-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: linear-gradient(to bottom, #1e1e1e, #2b2f3a); */
    position: relative;
}

.img-fondo-video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    position: absolute;
    z-index: -2;
}

.content-video {
    width: 90%;
    height: 37rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    background-color: rgb(27, 27, 27);
    position: relative;
}

.btn-volver {
    all: unset;
    background-color: transparent;
    width: 6rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    left: 1.9rem;
    border-radius: .28rem;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
}

.icon-btn-volver {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 60%;
    color: rgb(255, 255, 255);
}

.btn-volver::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(221, 0, 0);
    transform: translateX(-100%);
    transition: .5s ease;
    position: absolute;
    z-index: 1;
}

.btn-volver:hover::after {
    transform: translateX(0);
}

.content-video video {
    max-width: 100%;
    width: 75%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
}

.content-desc-video {
    max-width: calc(90% - 2rem);
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: .5rem 0 .5rem 0;
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(5px) saturate(100%);

}

.content-poster-video {
    width: 13rem;
    height: 18rem;
    background-color: black;
    border-radius: .5rem;
    box-shadow: .5rem .5rem .7rem rgba(0,0,0,.5);
}

.content-poster-video img {
    width: 100%;
    height: 100%;
    object-fit: fill; 
    object-position: center;
    border: 1px;
    border-radius: .3rem;
}

.card-video {
    width: 55rem;
}

.title-video {
    width: auto;
    height: auto;
    padding: 1rem;
    margin-left: .7rem;
}

.title-video p {
    margin-left: .7rem;
    font-size: 1rem;
    font-weight: 400;
}

.desc-movie {
    width: calc(100% - 2rem);
    height: fit-content;
    margin: 0;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.sub-content-video {
    width: 90%;
    height: auto;
    position: relative;
}





