
.video-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-video {
    width: 90%;
    height: 37rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    background-color: rgb(27, 27, 27);
}

.content-video video {
    max-width: 100%;
    width: 75%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
}

.content-desc-video {
    max-width: calc(90% - 2rem);
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: .5rem 0 .5rem 0;
    padding: 1rem;
    border-radius: .5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(48, 47, 48);
}

.content-poster-video {
    width: 13rem;
    height: 18rem;
    flex-shrink: 0;
    background-color: black;
    border-radius: .5rem;
}

.card-video {
    width: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: .5rem;
    box-shadow: .5rem .5rem .7rem rgba(0,0,0,.5);
}

.title-video {
    width: auto;
    height: auto;
    padding: 1rem;
    margin-left: .7rem;
}

.title-video p {
    margin-left: .7rem;
    font-size: 1rem;
    font-weight: 400;
}

.desc-movie {
    width: calc(100% - 2rem);
    height: fit-content;
    margin: 0;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.sub-content-video {
    width: 90%;
    height: auto;
    position: relative;
}





